<div class="row">
  <div class="col-8 user-col">
    <mdb-card><!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>Users</h4>
        </mdb-card-title>
        <table mdbTable>
          <thead class="black white-text">
          <tr>
            <th> Name</th>
            <th> Action</th>
          </tr>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let user of users; let i = index">
            <td>{{user}}</td>
            <td>
              <button type="button" (click)='newMessage()'>Edit</button>
              <button type="button" >Delete</button>
            </td>
          </tr>
          </tbody>
        </table>

      </mdb-card-body>
    </mdb-card>
  </div>
</div>
