<ul class="nav nav-tabs ">
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/instruction">Instruction</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/inquiry">Inquiry</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/modelbuild">Model Building</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="assessment">Assessment</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/instruction">Instruction</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/inquiry">Inquiry</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/modelbuild">Model Building</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/assessment">Assessment</a>
  </li>
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/modelbuild">Challenge</a>
  </li>
</ul>

<div class="navbar navbar-fixed-left">
  <div class="inquiryDesc">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In eu mi bibendum neque. Id diam vel quam elementum pulvinar etiam non quam. Adipiscing tristique risus nec feugiat in. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. Nec feugiat nisl pretium fusce. In tellus integer feugiat scelerisque varius. </p>
    <img src="assets/testimage.jpg" alt="..." class="img-rounded">

    <input type="text" class="form-control" id="exampleInputName2" placeholder="Please enter your response">

    <button type="button" class="btn btn-primary btn-sm">Small button</button>
  </div>
</div>
<div class="container">
  <iframe src="https://editor.c2stem.org" height="100%" width="100%" frameborder="0"></iframe>
</div>


