iframe {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  height: 82.5vh;        /* Viewport-relative units */
  width: 100vw;
}

.container{
  margin: 0;
  padding: 0;
  border: 0;
}
