<!--Top tasks tabs-->
<ul class="nav nav-tabs ">
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/home">Home</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/instruction">Instruction</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/inquiry">Inquiry</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/modelbuild">Model Building</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/assessment">Assessment</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/challenge">Challenge</a>
    </li>
  </ul>

<!--<div class="container">
  <h2 class="font-weight-bold text-center">User Progress</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="row">
    <div class="col-xl">&lt;!&ndash;
    <div class="jumbotron d-flex align-items-center">&ndash;&gt;
      &lt;!&ndash; Table  &ndash;&gt;
      <table class="table table-bordered">
        &lt;!&ndash; Table head &ndash;&gt;
        <thead>
        <tr>
          <th>
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Module 1</mdb-checkbox>
            </div>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        &lt;!&ndash; Table head &ndash;&gt;

        &lt;!&ndash; Table body &ndash;&gt;
        <tbody>
        <tr>
          <th scope="row">
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Instruction</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">ModelBuild</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Assessment</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        </tbody>
        &lt;!&ndash; Table body &ndash;&gt;
        <thead>
        <tr>
          <th>
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Module 2</mdb-checkbox>
            </div>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        &lt;!&ndash; Table head &ndash;&gt;

        &lt;!&ndash; Table body &ndash;&gt;
        <tbody>
        <tr>
          <th scope="row">
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Instruction</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true" class="text-md-left">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">ModelBuild</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            &lt;!&ndash; Default unchecked &ndash;&gt;
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Assessment</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>-->

<div class="text-center user-header">
  <h4 class="h2-responsive font-weight-bold">User Progress</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-7 user-col">
      <mdb-card>
        <!-- Section: Blog v.2 -->
        <section class="text-center user-card">

          <!-- Section description -->
          <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight" (click)="test.toggle()"></div>
                </a>
              </div>

              <!-- Category -->
              <a href="#!" class="pink-text">
                <h6 class="font-weight-bold mb-3"><i class="far fa-map pr-2"></i>Adventure</h6>
              </a>

            </div>
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Category -->
              <a href="#!" class="deep-orange-text">
                <h6 class="font-weight-bold mb-3"><i class="fas fa-graduation-cap pr-2"></i>Education</h6>
              </a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-0">
              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Category -->
              <a href="#!" class="blue-text">
                <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Culture</h6>
              </a>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Category -->
              <a href="#!" class="pink-text">
                <h6 class="font-weight-bold mb-3"><i class="far fa-map pr-2"></i>Adventure</h6>
              </a>

            </div>
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Category -->
              <a href="#!" class="deep-orange-text">
                <h6 class="font-weight-bold mb-3"><i class="fas fa-graduation-cap pr-2"></i>Education</h6>
              </a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-0">
              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Category -->
              <a href="#!" class="blue-text">
                <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Culture</h6>
              </a>
            </div>
            <!-- Grid column -->

          </div>

        </section>
      </mdb-card>
    </div>
    <div class="col-4 user-col">
      <div class="row user-card-row">
        <mdb-card>
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card>
      </div>
      <div class="row user-card-row">
        <mdb-card>
          <mdb-card-header>Featured</mdb-card-header>
          <mdb-card-body>
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="row user-card-row">
        <mdb-card>
          <mdb-card-header>Featured</mdb-card-header>
          <mdb-card-body>
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>

<div class="module-desc" mdbCollapse #test="bs-collapse">
  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
</div>
