.user-header{
  margin: 10px;
}

.container{
  max-width: 100%!important;
  max-height: 500px!important;
  margin-right: 10px;
  margin-left: 10px;
}

.user-card {
  padding: 20px;
}

.user-col{
  margin: 20px;
}

.user-card-row{
  display: block;
  padding: 20px;
  padding-top: 0px;
}

::ng-deep .card .card-body .card-text{
  font-size:1.5rem;
}

.btn-primary {
  font-size: 1.5rem;
}

.module-desc{

}
