<ul class="nav nav-tabs ">
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/instruction">Instruction</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/inquiry">Inquiry</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/modelbuild">Model Building</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/assessment">Assessment</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/instruction">Instruction</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/inquiry">Inquiry</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/modelbuild">Model Building</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/assessment">Assessment</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/modelbuild">Challenge</a>
    </li>
  </ul>

<div class="container">
  <h2 class="font-weight-bold text-center">User Progress</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="row">
    <div class="col-xl"><!--
    <div class="jumbotron d-flex align-items-center">-->
      <!-- Table  -->
      <table class="table table-bordered">
        <!-- Table head -->
        <thead>
        <tr>
          <th>
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Module 1</mdb-checkbox>
            </div>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <!-- Table head -->

        <!-- Table body -->
        <tbody>
        <tr>
          <th scope="row">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Instruction</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">ModelBuild</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Assessment</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        </tbody>
        <!-- Table body -->
        <thead>
        <tr>
          <th>
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Module 2</mdb-checkbox>
            </div>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <!-- Table head -->

        <!-- Table body -->
        <tbody>
        <tr>
          <th scope="row">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Instruction</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true" class="text-md-left">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">ModelBuild</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        <tr>
          <th scope="row">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <mdb-checkbox default="true">Assessment</mdb-checkbox>
            </div>
          </th>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise I</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise II</mdb-checkbox>
          </div></td>
          <td><div class="custom-control custom-checkbox">
            <mdb-checkbox default="true">Exercise III</mdb-checkbox>
          </div></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
