//form{
//  margin: 100px;
//}
//.example-container {
//  width: 400px;
//  height: 200px;
//  margin: 10px;
//  border: 1px solid #555;
//}
.nav {
  display: block;
  background-color: lightcoral;
  box-shadow: lightcoral 2px 2px;
}

.dash-container{
  height: 100%;
}
.side-navigation {
  display: block;
  box-shadow: 2px 2px;
}

