.example-container {
  position: absolute;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  border: 1px solid;
  box-shadow: 2px 2px;
  width: 22%;
  border-radius: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.container{
  padding: 0;
  margin: 0;
}

.row {
  margin-left: 10px;
}

::ng-deep .mat-tab-label {
  border: 1px solid black;
  padding: 0!important;
  min-width: 50px!important;
}

.fas{
  height: 48px!important;
}
