/* You can add global styles to this file, and also import other style files */

body{
  font-size: medium;
}

a.active{
  color: darkturquoise;
}

.draggable {
  cursor: move;
  user-select: none;
}

.tooltip-inner {
  font-size: 1.2rem;
}
