<!--Section: Blog v.2-->
<section class="text-center py-4">

  <!--Section heading-->
  <h2 class="h1 font-weight-bold text-center mb-5 pt-4">Modules</h2>
  <!--Section description-->
  <p class="text-center mb-5 pb-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="img-fluid" alt="First sample image">
        <a href="/user">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>1D Motion</strong>
      </h4>
      <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
        facere possimus voluptas.</p>
      <a mdbBtn color="pink" rounded="true" size="md" class="waves-light" mdbWavesEffect>Read more</a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid" alt="Second sample image">
        <a href="/user">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>2D Motion</strong>
      </h4>
      <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
        facere possimus voluptas.</p>
      <a mdbBtn color="deep-orange" rounded="true" size="md" class="waves-light" mdbWavesEffect>Read more</a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="Thrid sample image">
        <a href="/user">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>3D Motion</strong>
      </h4>
      <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
        facere possimus voluptas.</p>
      <a mdbBtn color="info" rounded="true" size="md" class="waves-light" mdbWavesEffect>Read more</a>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Blog v.2-->
