<ul>
  <li>
    Test the code with different surface materials by clicking on the yellow
    tile and selecting the material for that tile from the options that pop-up.
  </li>
  <li>When you are ready to test the computer model, click on "Test Model."</li>
  <li>
    You will be asked "how much did it rain (in inches)?" In the textbox,
    inserts a value for rainfall in inches (such as 1, 1.2, 2, or another number
    value).
  </li>
  <li>
    Press click enter on your keyboard or click the checkmark next to the
    textbox to test the model.
  </li>
</ul>
