<ul>
  <li>Click on the yellow tile to select a surface material.</li>
  <li>
    When you are ready to test the computational model, click on "Test Model."
  </li>
  <li>
    You will be asked "how much did it rain (in inches)?" In the textbox, insert
    a value for rainfall in inches (such as 1, 1.2, 2, or another number value).
  </li>
  <li>
    Press “Enter” on your keyboard or click the checkmark next to the textbox to
    test the model.
  </li>
  <li>Click on “Test History” to see all your results.</li>
</ul>
