<ul>
  <li>
    Complete your design by selecting materials for all non-building squares. To
    do so, click on a square and select the material for that square from the
    options that pop-up.
  </li>
  <li>When you are ready to test your design, click on "Test Design."</li>
  <li>
    You will be asked "how much did it rain (in inches)?" In the textbox,
    inserts a value for rainfall in inches (such as 1, 1.2, 2, or another number
    value).
  </li>
  <li>
    Press enter on your keboard or click the checkmark next to the textbox to
    test your design.
  </li>
</ul>
